.row-container {
    height: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.row-container.open {
    height: auto;
    opacity: 1;
    position: relative;
}

.output-container .buttons {
    display: flex;
    justify-content: right;
    margin-top: 1em;
}

.output-content textarea {
    border: none;
    background-image: linear-gradient(90deg, #2e1e5d, #007c7d);
    font-family: monospace;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1.5;
    color: var(--w-color-white);
    height: 420px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    scroll-behavior: smooth;
    text-shadow: 1px 1px 0px #2e1e5d;
}
