.row-container {
    height: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.row-container.open {
    height: auto;
    opacity: 1;
    position: relative;
}

.output-container .buttons {
    display: flex;
    justify-content: right;
    margin-top: 1em;
}

.output-content textarea {
    border: none;
    background-image: linear-gradient(rgb(230, 230, 230), rgb(209, 209, 209));
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    height: 420px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    scroll-behavior: smooth;
}
