{% extends "wagtailadmin/base.html" %}
{% load static wagtailcore_tags admin_tags %}
{% block titletag %}Import Wordpress Data{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title=title icon="download-alt" description=description %}

<div class="nice-padding">
    {% if endpoints %}
    <table class="listing">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
                <th scope="col">Model</th>
                <th scope="col">Import</th>

            </tr>
        </thead>
        <tbody>
            {% for endpoint in endpoints %}
            <tr>
                <td>{{ endpoint.name }}</td>
                <td>{{ endpoint.url }}</td>
                <td>{{ endpoint.model }}</td>
                <td>
                    <form method="POST" action="{{ run_command_url }}" class="stream-form">
                        {% csrf_token %}
                        <input type="hidden" name="model" value="{{ endpoint.model }}">
                        <input type="hidden" name="url" value="{{ endpoint.url }}">
                        <button type="submit" value="Import" class="button button-primary button-longrunning button-small">
                            Import
                        </button>
                        <a href="{% get_model_admin_url endpoint.model|lower %}" class="button button-secondary button-small" data-stream>View Imported {{ endpoint.name }}</a>
                    </form>
                </td>
            </tr>
            <tr class="row-container">
                <td colspan="4">
                    <div class="output-container">
                        <div class="output-content">
                            <textarea readonly data-message></textarea>
                        </div>
                        <div class="buttons">
                            <button class="button button-secondary button-small" type="button" data-close>Close</button>
                            <button class="button button-secondary button-small" type="button" data-clear>Clear</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="help-block help-critical">
        <svg class="icon icon-warning icon" aria-hidden="true"><use href="#icon-warning"></use></svg>
        No endpoints found. Please check your settings.
        <a href="/admin/settings/wordpress/wordpresssettings">Wordpress settings</a> 
    </div>
    {% endif %}
    <div class="help-block help-warning">
        <svg class="icon icon-warning icon" aria-hidden="true"><use href="#icon-warning"></use></svg>
        <p>Some imports need to happen before other imports due to related content.</p>
    </div>
    <p>Suggested order:</p>
    <ol>
        <li>Users</li>
        <li>Tags</li>
        <li>Categories</li>
        <li>Pages</li>
        <li>Posts</li>
        <li>Comments</li>
        <li>Media</li>
    </ol>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'wordpress/js/import.js' %}" type="text/javascript"></script>
{% endblock extra_js %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wordpress/css/stream-output.css' %}">
{% endblock extra_css %}
